################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CLAUDE.md
/out/build
/.vscode
/.vs
/.claude
